# US Flight Delay Analysis - Winter Season (2018-2019)
This notebook contains the analysis of the "On-Time : Reporting Carrier On-Time Performance" dataset, for: December 2018, January 2019 and February 2019.

This notebook contains the data preparation before the analysis phase of the project. Meaning, it includes: the data loading, the merging of the three different datasets, the data trimming and finally the treating of null values.

In terms of technology, we will use pandas for the data manipulation and analysis.

Each phase of the process followed is indicated by cronological order.

### Imports:

In [22]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import os

# 01. Data Loading & Merging
We will load the three different datasets, containing the data of each month. Than, prior to the merging, we will do a quick examination of the data. Finally, we will proceed with the creation of the final datasets (merging the others), which we will be using for the analysis.

In [23]:
#I use the "os" module, in order to get the directory of this notebook, and be totally sure of the data path to insert.
cwd = os.getcwd()
cwd

'C:\\Users\\GerardEspejo\\Desktop\\TFM\\TFM'

### Dataset Loading and initial exploratory evaluation
The datasets are loaded from a local folder "Data", which contains all the datasets.

In [24]:
#December 2018
df_dec18 = pd.read_csv('C:\\Users\\GerardEspejo\\Desktop\\TFM\\Data\\Dec_2018.csv')

In [25]:
#Let's take a sample of 5 flights, as a quick preview. 
#Mainly I will check the dates of the flights (Column: 'FL_DATE'), and see if the month coincides with the dataset downloaded.
df_dec18.sample(5)

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,...,AIR_TIME,FLIGHTS,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 50
535996,2018,4,12,19,3,2018-12-19,AA,AA,N349AN,2665,...,149.0,1.0,1013.0,5,NaN,NaN,NaN,NaN,NaN,NaN
96387,2018,4,12,16,7,2018-12-16,B6,B6,N982JB,1823,...,323.0,1.0,2475.0,10,33.0,0.0,0.0,0.0,0.0,NaN
481493,2018,4,12,11,2,2018-12-11,WN,WN,N7824A,1443,...,97.0,1.0,759.0,4,56.0,0.0,0.0,0.0,0.0,NaN
168621,2018,4,12,18,2,2018-12-18,YX,YX,N633RW,3756,...,75.0,1.0,488.0,2,NaN,NaN,NaN,NaN,NaN,NaN
166248,2018,4,12,10,1,2018-12-10,YX,YX,N643RW,3666,...,144.0,1.0,1034.0,5,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
#January 2019
df_jan19 = pd.read_csv('C:\\Users\\GerardEspejo\\Desktop\\TFM\\Data\\Jan_2019.csv')

In [27]:
df_jan19.sample(5)

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,...,AIR_TIME,FLIGHTS,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 50
519478,2019,1,1,2,3,2019-01-02,DL,DL,N901DE,845,...,82.0,1.0,545.0,3,NaN,NaN,NaN,NaN,NaN,NaN
511791,2019,1,1,6,7,2019-01-06,DL,DL,N357NW,2836,...,171.0,1.0,1185.0,5,NaN,NaN,NaN,NaN,NaN,NaN
153449,2019,1,1,2,3,2019-01-02,WN,WN,N264LV,6661,...,186.0,1.0,1262.0,6,NaN,NaN,NaN,NaN,NaN,NaN
215378,2019,1,1,2,3,2019-01-02,B6,B6,N373JB,518,...,34.0,1.0,187.0,1,NaN,NaN,NaN,NaN,NaN,NaN
414858,2019,1,1,14,1,2019-01-14,WN,WN,N8696E,20,...,40.0,1.0,239.0,1,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
#February 2019
df_feb19 = pd.read_csv('C:\\Users\\GerardEspejo\\Desktop\\TFM\\Data\\Feb_2019.csv')

In [29]:
df_feb19.sample(5)

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,...,AIR_TIME,FLIGHTS,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 50
26667,2019,1,2,24,7,2019-02-24,AA,AA,N963TW,2360,...,79.0,1.0,583.0,3,27.0,0.0,0.0,0.0,8.0,NaN
7689,2019,1,2,26,2,2019-02-26,AA,AA,N141NN,368,...,228.0,1.0,1660.0,7,NaN,NaN,NaN,NaN,NaN,NaN
40444,2019,1,2,16,6,2019-02-16,WN,WN,N8555Z,5141,...,197.0,1.0,1903.0,8,NaN,NaN,NaN,NaN,NaN,NaN
124618,2019,1,2,26,2,2019-02-26,WN,WN,N8695D,2324,...,262.0,1.0,1790.0,8,NaN,NaN,NaN,NaN,NaN,NaN
468147,2019,1,2,3,7,2019-02-03,AS,AS,N558AS,321,...,103.0,1.0,696.0,3,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#For the initial exploratory, we will check the shapes of the three datasets
Shapes = {'Dec 18': [df_dec18.shape], 'Jan 19': [df_jan19.shape], 'Feb 19': [df_feb19.shape]}
df_shapes = DataFrame (Shapes, columns = ['Dec 18','Jan 19', 'Feb 19'])
df_shapes

         Dec 18        Jan 19        Feb 19
0  (593842, 51)  (583985, 51)  (533175, 51)

### Merging the three datasets
As we have observed in the initial exploratory of the data, the three datasets have the same type of values. Moreover, their shapes are very similar, having the same number of columns. This means we can join them into a single dataset.

In [35]:
#We will use the concat() function, to merge the three datasets
#We will set the argument 'ignore_index' to True, which will automatically set the row labels according the join
data = [df_dec18, df_jan19, df_feb19]
df_winter = pd.concat(data, ignore_index=True)

In [43]:
#The number of rows of the new dataset should be equal to the sum of rows of all three datasets.
calculated_total_rows = 593842 + 583985 + 533175
calculated_total_rows

1711002

In [37]:
#Let's check the shape of the resultant dataset.
df_winter.shape

(1711002, 51)

We have a successfull merging!

# 02. Data Preparation
In the previous notebook ('01. First Approach') we have done an initial examination of the dataset, resulting in a pre-selection of the most "interesting" columns during the data downloading process, in the BTS website: https://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236

Having taken note of that, we have applied the same procedure prior to the Data Loading. Therefore, we will optimize our work.

For your information, the reduced data (columns) is related to: Gate Return Information at Origin Airport and Diverted Airport Information. Because we are focusing this analysis only on Flight Delays, we won't be using flight divertions informations.

### Initial Data Examination

In [44]:
df_winter.shape

(1711002, 51)

In [48]:
#Let's check the columns and the type of values
df_winter.dtypes

YEAR                       int64
QUARTER                    int64
MONTH                      int64
DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
FL_DATE                   object
OP_UNIQUE_CARRIER         object
OP_CARRIER                object
TAIL_NUM                  object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_CITY_MARKET_ID      int64
ORIGIN                    object
ORIGIN_CITY_NAME          object
ORIGIN_STATE_ABR          object
ORIGIN_STATE_NM           object
ORIGIN_WAC                 int64
DEST_AIRPORT_ID            int64
DEST_CITY_MARKET_ID        int64
DEST                      object
DEST_CITY_NAME            object
DEST_STATE_ABR            object
DEST_STATE_NM             object
DEST_WAC                   int64
CRS_DEP_TIME               int64
DEP_TIME                 float64
DEP_DELAY                float64
DEP_DELAY_NEW            float64
DEP_DEL15                float64
DEP_DELAY_GROUP          float64
CRS_ARR_TIME               int64
ARR_TIME                 float64
ARR_DELAY                float64
ARR_DELAY_NEW            float64
ARR_DEL15                float64
ARR_DELAY_GROUP          float64
CANCELLED                float64
CANCELLATION_CODE         object
DIVERTED                 float64
CRS_ELAPSED_TIME         float64
ACTUAL_ELAPSED_TIME      float64
AIR_TIME                 float64
FLIGHTS                  float64
DISTANCE                 float64
DISTANCE_GROUP             int64
CARRIER_DELAY            float64
WEATHER_DELAY            float64
NAS_DELAY                float64
SECURITY_DELAY           float64
LATE_AIRCRAFT_DELAY      float64
Unnamed: 50              float64
dtype: object

In [60]:
#Which columns have more null values
df_winter.isna().sum().sort_values(ascending=False)

Unnamed: 50              1711002
CANCELLATION_CODE        1672269
SECURITY_DELAY           1377621
NAS_DELAY                1377621
WEATHER_DELAY            1377621
CARRIER_DELAY            1377621
LATE_AIRCRAFT_DELAY      1377621
ACTUAL_ELAPSED_TIME        42988
ARR_DEL15                  42988
ARR_DELAY_GROUP            42988
AIR_TIME                   42988
ARR_DELAY                  42988
ARR_DELAY_NEW              42988
ARR_TIME                   39791
DEP_DEL15                  37708
DEP_DELAY_GROUP            37708
DEP_DELAY_NEW              37708
DEP_DELAY                  37708
DEP_TIME                   37701
TAIL_NUM                    5034
CRS_ELAPSED_TIME             134
CANCELLED                      0
ORIGIN_STATE_ABR               0
QUARTER                        0
MONTH                          0
DAY_OF_MONTH                   0
DAY_OF_WEEK                    0
FL_DATE                        0
OP_UNIQUE_CARRIER              0
OP_CARRIER                     0
OP_CARRIER_FL_NUM              0
ORIGIN_AIRPORT_ID              0
ORIGIN_CITY_MARKET_ID          0
ORIGIN                         0
ORIGIN_CITY_NAME               0
ORIGIN_STATE_NM                0
CRS_ARR_TIME                   0
ORIGIN_WAC                     0
DEST_AIRPORT_ID                0
DEST_CITY_MARKET_ID            0
DEST                           0
DEST_CITY_NAME                 0
DEST_STATE_ABR                 0
DEST_STATE_NM                  0
DEST_WAC                       0
CRS_DEP_TIME                   0
DISTANCE_GROUP                 0
DISTANCE                       0
FLIGHTS                        0
DIVERTED                       0
YEAR                           0
dtype: int64

In [75]:
#How many airlines are we dealing with?
df_winter['OP_CARRIER'].nunique()

17

In [76]:
# and airports?
df_winter['ORIGIN'].nunique()

346

### Trimming the data

##### Columns Rename

In [78]:
df_winter.columns

Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN',
       'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM', 'ORIGIN_WAC',
       'DEST_AIRPORT_ID', 'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME',
       'DEST_STATE_ABR', 'DEST_STATE_NM', 'DEST_WAC', 'CRS_DEP_TIME',
       'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15',
       'DEP_DELAY_GROUP', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'ARR_DELAY_NEW', 'ARR_DEL15', 'ARR_DELAY_GROUP', 'CANCELLED',
       'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'FLIGHTS', 'DISTANCE',
       'DISTANCE_GROUP', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY',
       'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'Unnamed: 50'],
      dtype='object')

In [80]:
df_winter.rename(columns={'YEAR':'Year',
                  'QUARTER':'Quarter',
                  'MONTH':'Month',
                  'DAY_OF_MONTH':'DayOfMonth',
                  'DAY_OF_WEEK':'DayOfWeek',
                  'FL_DATE':'FlightDate',
                  'OP_UNIQUE_CARRIER':'UniqueCarrier',
                  'OP_CARRIER':'Carrier',
                  'TAIL_NUM':'RegistrationNum',
                  'OP_CARRIER_FL_NUM':'FlightNum'}
          , inplace=True)

In [82]:
#Origin related columns
df_origin = df_winter.iloc[:,[11,12,13,14,15,16,17]]
df_origin.head(3)

,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,ORIGIN_WAC,DEST_AIRPORT_ID
0,32575,SNA,"Santa Ana, CA",CA,California,91,10397
1,30423,AUS,"Austin, TX",TX,Texas,74,10397
2,31703,JFK,"New York, NY",NY,New York,22,11697

In [83]:
df_winter.rename(columns={'ORIGIN_AIRPORT_ID':'OriginAirport_IDNum', 
                  'ORIGIN_CITY_MARKET_ID':'OriginCityMarket_IDNum', 
                  'ORIGIN':'Origin_IATA',
                  'ORIGIN_CITY_NAME':'OriginCityName',
                  'ORIGIN_STATE_ABR':'OriginState_ID',
                  'ORIGIN_STATE_NM':'OriginStateName',
                  'ORIGIN_WAC':'OriginWAC'}
          , inplace=True)

In [85]:
#Destination related columns
df_destination = df_winter.iloc[:,[17,18,19,20,21,22,23]]
df_destination.head(3)

,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEST_WAC
0,10397,30397,ATL,"Atlanta, GA",GA,Georgia,34
1,10397,30397,ATL,"Atlanta, GA",GA,Georgia,34
2,11697,32467,FLL,"Fort Lauderdale, FL",FL,Florida,33

In [86]:
df_winter.rename(columns={'DEST_AIRPORT_ID':'DestAirport_IDNum',
                  'DEST_CITY_MARKET_ID':'DestCityMarket_IDNum',
                  'DEST':'Dest_IATA',
                  'DEST_CITY_NAME':'DestCityName',
                  'DEST_STATE_ABR':'DestState_ID',
                  'DEST_STATE_NM':'DestStateName',
                  'DEST_WAC':'DestWAC'}
          , inplace=True)

In [93]:
#Departure and arrival related columns
df_dep_arr = df_winter.iloc[:,[24,25,26,27,28,29,31,32,33,34,35]]
df_dep_arr.head(3)

,CRSDepTime,DepTime,DepDelayMin,DepDelayMin0,DepDelay_Ind15,DepDelayGroup_Int15,ArrTime,ArrDelayMin,ArrDelayMin0,ArrDelay_Ind15,ArrDelayGroup_Int15
0,645,655.0,10.0,10.0,0.0,0.0,1339.0,-17.0,0.0,0.0,-2.0
1,700,656.0,-4.0,0.0,0.0,-1.0,951.0,-17.0,0.0,0.0,-2.0
2,1133,1129.0,-4.0,0.0,0.0,-1.0,1429.0,-20.0,0.0,0.0,-2.0

In [90]:
df_winter.rename(columns={'CRS_DEP_TIME':'CRSDepTime',
                  'DEP_TIME':'DepTime',
                  'DEP_DELAY':'DepDelayMin',
                  'DEP_DELAY_NEW':'DepDelayMin0',
                  'DEP_DEL15':'DepDelay_Ind15',
                  'DEP_DELAY_GROUP':'DepDelayGroup_Int15',
                  'CRS_ARR_TIME':'CRSArrTime',
                  'ARR_TIME':'ArrTime',
                  'ARR_DELAY':'ArrDelayMin',
                  'ARR_DELAY_NEW':'ArrDelayMin0',
                  'ARR_DEL15':'ArrDelay_Ind15',
                  'ARR_DELAY_GROUP':'ArrDelayGroup_Int15'}
          , inplace=True)

In [94]:
#Cancellations related columns
df_cancel = df_winter.iloc[:,[36,37,38]]
df_cancel.head(3)

   CANCELLED CANCELLATION_CODE  DIVERTED
0        0.0               NaN       0.0
1        0.0               NaN       0.0
2        0.0               NaN       0.0

In [97]:
df_winter.rename(columns={'CANCELLED':'Cancelled',
                  'CANCELLATION_CODE':'CancellationCode',
                  'DIVERTED':'Diverted'}
          , inplace=True)

In [98]:
#Other Flight & Delay related columns
df_other = df_winter.iloc[:,[39,40,41,42,43,44,45,46,47,48,49,50]]
df_other.head(3)

,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 50
0,251.0,224.0,200.0,1.0,1919.0,8,NaN,NaN,NaN,NaN,NaN,NaN
1,128.0,115.0,97.0,1.0,813.0,4,NaN,NaN,NaN,NaN,NaN,NaN
2,196.0,180.0,152.0,1.0,1069.0,5,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
df_winter.rename(columns={'CRS_ELAPSED_TIME':'CRSElapsedTimeMin',
                  'ACTUAL_ELAPSED_TIME':'ActualElapsedTimeMin',
                  'AIR_TIME':'FlightTimeMin',
                  'FLIGHTS':'NumberOfFlights',
                  'DISTANCE':'DistanceMil',
                  'DISTANCE_GROUP':'Distance_Int250Mil',
                  'CARRIER_DELAY':'CarrierDelayMin',
                  'WEATHER_DELAY':'WeatherDelayMin',
                  'NAS_DELAY':'NASDelayMin',
                  'SECURITY_DELAY':'SecurityDelayMin',
                  'LATE_AIRCRAFT_DELAY':'LateAircraftDelay'}
          , inplace=True)

In [101]:
df_winter.columns

Index(['Year', 'Quarter', 'Month', 'DayOfMonth', 'DayOfWeek', 'FlightDate',
       'UniqueCarrier', 'Carrier', 'RegistrationNum', 'FlightNum',
       'OriginAirport_IDNum', 'OriginCityMarket_IDNum', 'Origin_IATA',
       'OriginCityName', 'OriginState_ID', 'OriginStateName', 'OriginWAC',
       'DestAirport_IDNum', 'DestCityMarket_IDNum', 'Dest_IATA',
       'DestCityName', 'DestState_ID', 'DestStateName', 'DestWAC',
       'CRSDepTime', 'DepTime', 'DepDelayMin', 'DepDelayMin0',
       'DepDelay_Ind15', 'DepDelayGroup_Int15', 'CRSArrTime', 'ArrTime',
       'ArrDelayMin', 'ArrDelayMin0', 'ArrDelay_Ind15', 'ArrDelayGroup_Int15',
       'Cancelled', 'CancellationCode', 'Diverted', 'CRSElapsedTimeMin',
       'ActualElapsedTimeMin', 'FlightTimeMin', 'NumberOfFlights',
       'DistanceMil', 'Distance_Int250Mil', 'CarrierDelayMin',
       'WeatherDelayMin', 'NASDelayMin', 'SecurityDelayMin',
       'LateAircraftDelay', 'Unnamed: 50'],
      dtype='object')

##### Changing Date Format: DepTime and ArrTime

In [107]:
df_time = df_winter[['DepTime', 'ArrTime', 'FlightDate']]
df_time.head(5)

   DepTime  ArrTime  FlightDate
0    655.0   1339.0  2018-12-06
1    656.0    951.0  2018-12-06
2   1129.0   1429.0  2018-12-06
3    724.0    944.0  2018-12-06
4   1034.0   1300.0  2018-12-06

In [104]:
df_time.dtypes

DepTime       float64
ArrTime       float64
FlightDate     object
dtype: object

As we can see, both DepTime and ArrTime are float types. Therefore, we will create a function that will enable us to parse our int hours into a reasonable format ("HH:MM").

In [106]:
def Deptime_to_String(deptime):
   
    #Using 'int' we only keep the integer value of the division, which represents the hour
    #Applying '%' Modulus, results (hours) equals to '24' are avoided, and returned as '00'
    dephour = int(deptime / 100) % 24
    depmin = int(deptime % 100)

    return '%02d:%02d' % (dephour, depmin)

def Arrtime_to_String(arrtime):
    
    #Using 'int' we only keep the integer value of the division, which represents the hour
    #Applying '%' Modulus, results (hours) equals to '24' are avoided, and returned as '00'
    arrhour = int(arrtime / 100) % 24 
    arrmin = int(arrtime % 100)

    return '%02d:%02d' % (arrhour, arrmin)

In [108]:
#We test the functions created with the first flight of the previous shown
Deptime_to_String(655.0), Arrtime_to_String(1339.0)

('06:55', '13:39')

In [109]:
#On previous tries I had this error - "ValueError: cannot convert float NaN to integer"
#Therefore, I chose to remove the missing values with dropna
deptime = df_winter['DepTime'].dropna().apply(Deptime_to_String)
arrtime = df_winter['ArrTime'].dropna().apply(Arrtime_to_String)

In [111]:
#Let's create 2 new columns with the time in the correct format
df_winter['DepTime2'] = deptime
df_winter['ArrTime2'] = arrtime

In [113]:
#Test
df_winter['DepTime2'].sample()

1562923    22:37
Name: DepTime2, dtype: object

In [114]:
#Test
df_winter['ArrTime2'].sample()

476596    18:11
Name: ArrTime2, dtype: object

In [115]:
#Because to_datetime, the Date has to be positioned prior to the Time
dep_datetime = pd.to_datetime(df_winter['FlightDate']+' '+df_winter['DepTime2'])
df_winter['DepDateTime'] = dep_datetime
df_winter['DepDateTime'].sample(5) #Test

1508371   2019-02-15 22:27:00
160680    2018-12-11 13:45:00
68236     2018-12-20 19:25:00
1137590   2019-01-30 08:33:00
1584353                   NaT
Name: DepDateTime, dtype: datetime64[ns]

In [116]:
arr_datetime = pd.to_datetime(df_winter['FlightDate']+' '+df_winter['ArrTime2'])
df_winter['ArrDateTime'] = arr_datetime
df_winter['ArrDateTime'].sample(5) #Test

560184    2018-12-03 10:46:00
1335840   2019-02-24 10:02:00
669989    2019-01-23 16:06:00
1013731   2019-01-07 07:20:00
633906    2019-01-17 19:11:00
Name: ArrDateTime, dtype: datetime64[ns]

In [117]:
df = df_winter.drop(['DepTime', 'DepTime2', 'ArrTime', 'ArrTime2', 'FlightDate'], axis=1)

In [118]:
#Last check
df_time = df_winter[['DepDateTime', 'ArrDateTime']]
df_time.head()

          DepDateTime         ArrDateTime
0 2018-12-06 06:55:00 2018-12-06 13:39:00
1 2018-12-06 06:56:00 2018-12-06 09:51:00
2 2018-12-06 11:29:00 2018-12-06 14:29:00
3 2018-12-06 07:24:00 2018-12-06 09:44:00
4 2018-12-06 10:34:00 2018-12-06 13:00:00

### Exporting the created Dataset
We will export the created dataset to a CSV file, that we will store in the Data folder. The reason to do this is for future usage of the created dataset; in my case, I will be using it for visualitzations in Tableau.

In [ ]:
#We will use the 'to_csv' function