In [1]:
import pandas as pd
import numpy as np

In [4]:
import os
cwd = os.getcwd()
cwd

'C:\\Users\\GerardEspejo\\Desktop\\TFM\\TFM'

In [6]:
df = pd.read_csv('C:\\Users\\GerardEspejo\\Desktop\\TFM\\Data\\Reporting Carrier On-Time Performance.csv')
df.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,...,AIR_TIME,FLIGHTS,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 48
0,2018,1,1,27,6,2018-01-27,UA,UA,N26232,369,...,148.0,1.0,966.0,4,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,1,1,27,6,2018-01-27,UA,UA,N477UA,368,...,98.0,1.0,679.0,3,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,1,1,27,6,2018-01-27,UA,UA,N13720,367,...,190.0,1.0,1208.0,5,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,1,1,27,6,2018-01-27,UA,UA,N16217,366,...,212.0,1.0,1744.0,7,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,1,1,27,6,2018-01-27,UA,UA,N33714,365,...,112.0,1.0,820.0,4,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.columns

Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN',
       'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM', 'ORIGIN_WAC', 'DEST_AIRPORT_ID',
       'DEST_CITY_MARKET_ID', 'DEST', 'DEST_STATE_ABR', 'DEST_STATE_NM',
       'DEST_WAC', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW',
       'DEP_DEL15', 'DEP_DELAY_GROUP', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'ARR_DELAY_NEW', 'ARR_DEL15', 'ARR_DELAY_GROUP', 'CANCELLED',
       'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'FLIGHTS', 'DISTANCE',
       'DISTANCE_GROUP', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY',
       'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'Unnamed: 48'],
      dtype='object')

In [10]:
df_flights_list = df[['YEAR', 'FL_DATE', 'ORIGIN_AIRPORT_ID', 'ORIGIN', 'DEST_AIRPORT_ID', 'DEST', 'DEP_DELAY', 'ARR_DELAY', 'CANCELLED']]
df_flights_list.head(10)

,YEAR,FL_DATE,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST,DEP_DELAY,ARR_DELAY,CANCELLED
0,2018,2018-01-27,11697,FLL,12266,IAH,-13.0,-12.0,0.0
1,2018,2018-01-27,14747,SEA,14771,SFO,-4.0,-18.0,0.0
2,2018,2018-01-27,11278,DCA,12266,IAH,-2.0,1.0,0.0
3,2018,2018-01-27,12892,LAX,13930,ORD,-9.0,-8.0,0.0
4,2018,2018-01-27,12451,JAX,11618,EWR,-14.0,-24.0,0.0
5,2018,2018-01-27,12266,IAH,14107,PHX,-7.0,-19.0,0.0
6,2018,2018-01-27,11618,EWR,12173,HNL,27.0,19.0,0.0
7,2018,2018-01-27,12173,HNL,11618,EWR,8.0,-23.0,0.0
8,2018,2018-01-27,12889,LAS,14771,SFO,-5.0,-22.0,0.0
9,2018,2018-01-27,12264,IAD,15304,TPA,-7.0,-18.0,0.0